body
{
background-color:#70fb39;
}

h1
{
  
  color:rgb(38, 0, 255);
  background-color: cornsilk;
}

#show_sketch
{
  float:right;
}

canvas 
  {
    border:5px solid rgb(141, 131, 131);
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 150px; 
    animation-iteration-count: infinite;
    
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}


p
  {
    padding-top:10px;
    font-size:25px;
    
  }
#score {
  font-size: 40px;
  float: left;
  margin-left: 30px;
}
#timer {
  font-size: 40px;
  float: right;
  margin-right: 100px;
}